:root {
  --color-primary: #ffffff;
  --color-secondary: #bbbbbb;
  --color-accent-link: #ff0000;
  --bg-color-primary: #000000;
  --bg-color-hero-overlay: rgba(0, 0, 0, 0.3);
  --bg-color-galery-box: rgba(0, 0, 0, 0.5);

  --f-family-primary: "Neucha", cursive;
  --f-family-secondary: "Russo One", sans-serif;

  --transition-time: 250ms;
  --transition-function: ease;
}

body {
  font-size: 20px;
  font-family: var(--f-family-primary);
  line-height: 1.1;

  color: var(--color-primary);
  background-color: var(--bg-color-primary);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 95px 0;
}

.list {
  list-style: none;
  padding-left: 0;
}
.title {
  font-family: var(--f-family-secondary);
}

/* ------------HEADER------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background-color: transparent;
}
.header-flex {
  position: relative;

  display: flex;
  align-items: baseline;
}

.logo {
  padding: 5px 0;
  transition: color var(--transition-time) var(--transition-function);
}
.icon-logo {
  fill: currentColor;
}
.nav {
  margin-left: auto;
}
.nav__list {
  display: flex;
  gap: 25px;
}

.nav__link {
  position: relative;

  display: block;
  padding: 23px 0 10px;

  transition: color var(--transition-time) var(--transition-function);
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--color-accent-link);

  transform: scale(0);
  transition: transform var(--transition-time) var(--transition-function);
}

.logo:hover,
.logo:focus,
.nav__link:hover,
.nav__link:focus {
  color: var(--color-accent-link);
}
.nav__link:hover:after,
.nav__link:focus:after {
  transform: scale(1);
}

/*  ----------HERO----------- */
.hero {
}
.hero__overlay {
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(
      var(--bg-color-hero-overlay),
      var(--bg-color-hero-overlay)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero-section {
  padding: 169px 0;
}
.hero__title {
  margin-bottom: 100px;

  font-size: 56px;
  line-height: 1.2;
}
.hero__text {
  max-width: 322px;
  margin-bottom: 100px;

  line-height: 1.25;
}
.hero__list {
  display: flex;
  gap: 20px;

  border-bottom: 1px solid var(--color-primary);
}
.hero__item {
  display: flex;
  gap: 15px;
  align-items: center;

  width: calc((100% - 40px) / 3);

  color: var(--color-secondary);

  transition: color var(--transition-time) var(--transition-function);
}
.icon-hero {
  fill: currentColor;

  transition: fill var(--transition-time) var(--transition-function);
}
.hero__subtitle {
  margin-bottom: 25px;
  font-size: 26px;
}
.hero__content {
  margin-bottom: 25px;
}
.hero__link {
  display: block;
  padding-bottom: 15px;

  font-family: var(--f-family-secondary);
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero__item:hover .icon-hero {
  fill: var(--color-accent-link);
}

.hero__item:hover {
  color: var(--color-primary);
}

/* -----------GALERY------------- */

.galery {
  text-align: center;
}
.galery__title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.galery__text {
  margin: 0 auto 50px;
  max-width: 250px;
}
.galery__item {
  /* width: calc((100% - 60px) / 3); */

  border-radius: 10px;

  overflow: hidden;
}
.galery__link {
  position: relative;
  display: block;
}

.galery__img {
  transition: transform var(--transition-time) var(--transition-function);
}
.galery__link:hover .galery__img {
  transform: scale(1.05);
}
.galery__box {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: auto;
  padding: 20px;

  background-color: var(--bg-color-galery-box);
}
.galery__subtitle {
  margin-bottom: 15px;

  font-family: var(--f-family-secondary);
  font-size: 24px;
  line-height: 1.2;
}
.galery__content {
}

/* ----------------DESC-------------- */
.desc {
}
.desc__overlay {
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(
      var(--bg-color-hero-overlay),
      var(--bg-color-hero-overlay)
    ),
    url(../images/bg-desc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.desc__title {
  width: 480px;
  margin-bottom: 95px;

  font-size: 56px;
  line-height: 1.2;
}
.desc__link {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 95px;

  color: var(--color-secondary);

  transition: color var(--transition-time) var(--transition-function);
}
.icon-desc {
  fill: currentColor;
}

.desc__link:hover,
.desc__link:focus {
  color: var(--color-accent-link);
}
.desc__wrap {
  display: flex;
  gap: 62px;
}
.desc__box {
  max-width: 450px;
}
.desc__box .desc__text:not(:last-child) {
  margin-bottom: 30px;
}
.desc__video {
  position: relative;
  display: block;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;

  transition: transform var(--transition-time) var(--transition-function);
}

.desc__video:hover {
  transform: scale(1.1);
}

.desc__subtitle{
  position: absolute;
  left: 0;
  top: 50%;

  width: 100%;
  text-align: center;
}

/* ------------FOOTER-------------- */
.footer {
    padding: 60px 0;
}

.social {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.list {
}
.social__list {
}
.social__link {
    display: block;
    color: var(--color-primary);

    transition: color var(--transition-time) var(--transition-function);
}
.social-icon {
    fill: currentColor;
}
.social__link:hover {
    color: var(--color-accent-link);
}

/* ---------------SLIDER------------------- */
.slider {
  position: relative;
}
.slick-list{
  overflow: hidden;
}
.slick-track{
  display: flex;
  gap: 30px;
}

.slick-slide{
}

.slick-arrow{
  position: absolute;
  top: 50%;

  width: 30px;
  height: 30px;
  font-size: 0;

  border: none;
  
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  
}
/* Стрелка влево */
.slick-arrow.slick-prev{
  left: 0;
  z-index: 2;

  background-image: url(../images/292-previous2.svg);
  transform: translate(-100%, -50%);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  right: 0;
  background-image: url(../images/293-next2.svg);
  transform: translate(100%, -50%);
}
